iframe {
	display: none;
}
#jslint {
}
#jslint p {
	border-top: 1px solid black;
	background-color: lightGray;
	margin-bottom: 0px;	
}
#jslint p.evidence {
	padding: 0 0 0 20px;
	margin-top: 0px;
	font-family: monospace;
	border: none;
}
#jslint #functions {
	display: none;
}